<div class="sidebar-container">
    <div class="sidebar-logo">
        Profile
    </div>
    <ul class="sidebar-navigation">
        <li class="header">Navigation</li>
        <li [routerLinkActive]="['active']">
            <a routerLink="/dashboard" (click)="profile()"  style="cursor: pointer;">
                <i class="fa fa-profile" aria-hidden="true"></i> Profile
            </a>
        </li>
        <li [routerLinkActive]="['active']">
            <a routerLink="/cards"  (click)="cardsList()" style="cursor: pointer;">
                <i class="fa fa-home" aria-hidden="true"></i> Cards
            </a>
        </li>
        <li class="header">Another Menu</li>
        <!-- <li>
            <a href="#">
                <i class="fa fa-users" aria-hidden="true"></i> Friends
            </a>
        </li> -->
        <!-- <li>
            <a href="#">
                <i class="fa fa-cog" aria-hidden="true"></i> Settings
            </a>
        </li> -->
        <li>
            <a (click)="logout()" style="cursor: pointer;">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Logout
            </a>
        </li>
    </ul>
</div>